Vijay Solanki
20100BT07714
java program
interface copy
{
    public void stores();
}
interface pen
{
    public void write();
}
class story implements copy,pen
{
    public void stores()
   {
        System.out.println("this stores word in copy");
   }
    public void write()
  {
        System.out.println("i use pen to write the stories");
    }
}
public class interface3
 {
    public static void main(String args[])
  {
        story s=new story();
        s.stores();
        s.write();
    }
}

OUTPUT:-
this stores word in copy
i use pen to write the stories
